.about{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  padding: 100px;
  display: flex;
  height: 500px;
}

.about h1, .about h2{
  border: none;
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

.about .title{
  color: #F2F2F2;
  font-size: 45px;
  margin-bottom: 8px;
}

.about .subtitle{
  color: #F2F2F2;
  font-weight: normal;
  font-size: 27px;
}