.nav{
  position: absolute;
  top: 0px;
  z-index: 500;
  width: 100%;
}

.nav > div{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navitem{
  color: #F2F2F2;
  font-size: 16px;
  text-align:center;
  padding: 20px;
  position: relative;
}
.navitem:hover{
  text-decoration: none;
}
.navitem:hover:before{
  content: "";
  background-color: #F2F2F2;
  border-radius: 50%;
  display: block;
  position: absolute;
  height: 5px;
  width: 5px;
  bottom: 15px;
  right: 0px;
  left: 50%;
}

.active{
  font-weight: bold;
}
.active:before{
  content: "";
  background-color: #F2F2F2;
  border-radius: 50%;
  display: block;
  position: absolute;
  height: 5px;
  width: 5px;
  bottom: 15px;
  right: 0px;
  left: 50%;
}

