.nav{
  position: absolute;
  top: 0px;
  z-index: 500;
  font-size: 16px;
  width: 100%;
}

.nav > div{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navitem{
  color: #F2F2F2;
  font-size: inherit;
  text-align:center;
  padding: 20px;
  position: relative;
}
.navitem:hover{
  text-decoration: none;
}
.navitem:hover:before{
  content: "";
  background-color: #F2F2F2;
  border-radius: 50%;
  display: block;
  position: absolute;
  height: 5px;
  width: 5px;
  bottom: 15px;
  right: 0px;
  left: 50%;
}

.navitem.active{
  font-weight: bold;
}
.navitem.active:before{
  content: "";
  background-color: #F2F2F2;
  border-radius: 50%;
  display: block;
  position: absolute;
  height: 5px;
  width: 5px;
  bottom: 15px;
  right: 0px;
  left: 50%;
}

.menumobile{
  position: absolute;
}

.menumobile .menubutton{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 60px;
  height: 60px;  
}

.menubutton .line {
  width: 50px;
  height: 3px;
  background-color: #FFF;
  display: block;
  margin: 0px auto;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
}

.active .menubutton > div:nth-child(1) {
  transform: translateY(14px) rotate(45deg);
  visibility: hidden;
}

.active .menubutton > div:nth-child(2) {
  transform: rotate(45deg);
}

.active .menubutton > div:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
}


.menumobile.active{
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  font-size: 28px;
  height: 100%;
  position: fixed;
  left: 0px;
  width: 100%;
}

.mobilelinks{
  height: 100%;
  margin-top: 100px;
}

.mobilelinks > div{
  display: flex;
  flex-direction: column;
}